<div>
  <div class="row" ng-hide="bolNominate">
    <div class="col-xs-2">
       <img class="img-responsive"src="images/ico-nominatios.png"/>
    </div>
    <div class="col-xs-10">
       <div class="title">
          <h1 class="nominados">Nominados</h1>
       </div>
    </div>
  </div>
  <div class="row" ng-show="bolNominate">
    <div class="col-xs-2">
       <img class="img-responsive"src="images/ico-add.png"/>
    </div>
    <div class="col-xs-10">
       <div class="title">
          <h1 class="nominados">Nominar a Alguien</h1>
       </div>
    </div>
  </div>
   <div class="col-xs-12 text-center" ng-show="bolNominate">
      <h1>Categoria {{newNominate.category}}</h1>
    </div>
  <div ng-hide="bolNominate">
    <div class="row vertical-center">
      <div class="col-xs-2 select-category">
        <label class="control-label">Escoge la categoria</label>
        <select class="form-control" ng-model="category" ng-change="fnGetNominates(this.category)">
          <option value="1" selected>Categoria 1</option>
          <option value="2" >categoria 2</option>
        </select>
      </div>
      <div class="col-xs-4 col-md-offset-6 " >
          <button type="button" class="btn btn-info btn-nominados" ng-click="fnshowNominate()">¿Quieres nomiar a alguien?</button> 
      </div>
    </div>
  </div>
  <div class="row" ng-show="bolNominate">
    <div class="col-xs-4  col-md-offset-4">
        <form ng-submit="fnSaveData()">
          <div class="row">
            <div class="col-xs-12">
              <input type="text" ng-model="newNominate.name" class="form-control" placeholder="Nombre" />
            </div>
            <div class="col-xs-12 select-category" >
              <label class="control-label">Tú identification</label>
              <input type="text" ng-model="identification" class="form-control" placeholder="Cedula" />
            </div>
            </div>
            <div class="col-xs-12 select-category">
              <label class="control-label">Escoge la categoria</label>
              <select ng-model="newNominate.category"  class="form-control" ng-change="fnGetNominates(this.category)">
                <option value="1" selected>Categoria 1</option>
                <option value="2" >categoria 2</option>
              </select>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <br />
              <input type="Submit"  value="Nominar" class="btn btn-primary btn-votar" />
            </div>
          </div>
        </form>
      </div>
  </div>

  <div class="row" ng-hide="bolNominate">
    <div class="col-xs-12 text-center">
      <h1>Categoria {{category}}</h1>
    </div>
  </div>
  <div class="row" ng-hide="bolNominate">
    <div ng-repeat="nominate in nominates">
      <div class="col-md-4">
        <div class="well well-nominante">
           <div class="row">
           <div class="col-xs-4">
            <img class="img-responsive" src="images/nominate.png"/>
           </div>
            <div class="col-xs-8">
              <p>{{nominate.name}}</p>
              <p>{{nominate.category}}</p>
              <button  class="btn btn-primary btn-votar" ng-click="fnAddVote(nominate.id)"/> Votar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>